body{
    overflow-x: hidden;
    margin: 0 auto !important; 
}

.bg-img{
    height: 100vh;
    max-width: 100%;
    width: 100vw;
    
}

.container{
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
  max-width: 100%  !important; 
}


.firstsec-names{
  position: absolute;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 7vw;
  top: 40%;
  width: 100%;
  text-align: center;
  color: olive;
  font-weight: 600;
 
}

@media screen and (min-width: 800px){
  .firstsec-med{
    font-size: 3vw !important;
  }
}

.logo-img {
  height: 10vh;
  
}

.navbar {
    transition: all 0.7s;
}

.navbar-scrolled {
    border-bottom: 0.3vh solid rgb(139, 139, 34) !important;
    background-color: white !important;
    border-color: rgb(139, 139, 34) !important;
    height: 15vh;
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28139, 139, 34, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;

}

.navbar-toggler{
  border: none !important;
  
}

.bg-olive {
    background-color: rgb(187, 187, 105) !important;
  }
  
  #collapsibleNavbar {
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
  }
  
  /* Show the menu with a fade-in */
  #collapsibleNavbar.show.fullscreen {
    opacity: 1;
    visibility: visible;
  }
  
  /* Fullscreen style for the dropdown */
  #collapsibleNavbar.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1050;
    padding-top: 70px;
    background-color: rgba(180, 180, 113, 0.985) !important;
  }
  
  /* Close button positioning */
  #closeMenu.close-btn {
    position: absolute;
    top: 5%;
    right: 4%;
    z-index: 1060;
   background-color: transparent !important;
   border: none;
   font-size: 1.5rem;
   padding: 4px 12px;
   border-radius: 4px;
  }

.countdown-header {
  text-align: center !important;
  color: rgb(182, 182, 111) !important;
  margin-top: 10vh !important;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 7vw !important;
  margin-bottom: 4vh;
}

@media screen and (min-width: 800px){
  .header-font{
    font-size: 3.3vw !important;
  }
}
  
.timer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10vh;
  color: rgb(119, 119, 60);
  position: relative;
  isolation: isolate;  
}


.time-section {
  justify-content: center;
  font-size: 14vw;
   font-family: "Aguafina Script", cursive;
  font-weight: 700;
  font-style: normal;
  padding-top: 20vw;
  padding-bottom: 4vw;
  
}

.timer::after{
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: .4;
  background-image: url(olivewreath.png);
  background-position: center;
  background-size: 100vw 40vh;
  background-repeat: no-repeat;
  margin-bottom: 15vw;
}

@media screen and (min-width: 800px){
.timer-med {
  background-size: 70vw 40vh !important;
  width: 50vw Imp !important;
}
}

@media screen and (min-width: 800px){
.time-font {
  font-size: 8vw !important;
  padding-top: 5vw !important;
  padding-bottom: 5vw !important;
}
}

.label {
  font-size: 6vw;
  margin-top: 10vh;
  color: rgb(119, 119, 60);
  
}

@media screen and (min-width: 800px){
  .label-font{
    font-size: 4vw;
  }
}


.invitation{
  width: 80vw;
  background-color: rgb(247, 244, 242);
  border: white solid 1%;
  justify-self: center;
  border-radius: 3%;
  position: relative;
  isolation: isolate;
}

.invitation::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: .2;
  background-image: url(olivetree.png);
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 800px){
  .invit{
    width: 50vw !important;
  }
}

.first-paragraph {
  font-size: 6vw;
  color: olive;
  text-align: center;
 font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  
}


.invited{
  font-size: 6vw;
  color: olive;
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 600;
  font-style: italic;
}

@media screen and (min-width: 800px){
  .inv-par{
    font-size: 3vw !important;
  }
}

.names{
  font-size: 7vw;
  color: olive;
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 600;
  font-style: italic;
}



.hd-parents{
  font-size: 7vw;
  color: olive;
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: white;
}

@media screen and (min-width: 800px){
  .hdnames-font {
    font-size: 4vw !important;
  }
}

.parents-names{
  font-size: 4vw;
  color: olive;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
}

.bestman{
  font-size: 4vw;
  color: olive;
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@media screen and (min-width: 800px){
  .names-font{
    font-size: 1.5vw !important;
    width: 50vw !important;
    margin: auto;
  }
}

.nav-link{
  font-size: 5vw !important;
  color: white;
  margin-left: 10vw;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@media screen and (min-width: 800px){
  .hd-links{
    font-size: 2vw !important;
  }
}

.nav-link:hover{
  background-color: rgb(109, 109, 62) !important;
  border-radius: 6% !important;
 
}

.page-top{
  font-size: 12vw !important;
  color: white;
  margin-left: 10vw;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@media screen and (min-width: 800px){
  .pg-top {
    font-size: 3vw !important;
  }
}

.church-img{
  width: 80vw;
  justify-self: center;
}

@media screen and (min-width: 800px){
  .ch-img {
    width: 50vw !important;
    display: block;
  margin: auto;
    height: 90vh;
  }
}
.church-p {
  color: rgb(180, 180, 113);
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  border-bottom: 0.3vh solid rgb(139, 139, 34) !important;
 
  width: 80vw;
  font-size: 4vw;
}



.map{
  height: 50vh;
  justify-content: center;
  margin-top: 3vh;
  border-radius: 3%;
 
}

.church-map{
  width: 80vw;
  justify-self: center !important;
}

.link-p{
  color: rgb(139, 139, 34) !important;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-decoration: inherit !important;
  padding-bottom: 1vh;
  width: 80vw;
  font-size: 5vw;

}

.ship-img{
  width: 80vw;
  justify-self: center;
  height: 15vh;
}

@media screen and (min-width: 800px){
  .sh-img{
    width: 50vw !important;
    display: block;
    margin: auto;
    height: 35vh;
  }
}
.ship-p{
  border-top: 0.3vh solid rgb(139, 139, 34) !important;
  margin-top: 3vh;
  padding-top: 1vh;
}

.payment-brd{
  border-top: 0.3vh solid rgb(139, 139, 34) !important;
  border-bottom: 0.3vh solid rgb(139, 139, 34) !important;
   border-radius: 4%;
   width: 80vw;
   margin: 0 auto;
   margin-top: 3vh;
}

.payment-sec{
  width: 80vw;
   border-bottom: 0.3vh solid rgb(180, 180, 113) !important;
   margin: 0 auto;
   margin-top: 1vh;
   
  
}

.payment-hd{
  color: rgb(139, 139, 34) !important;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 5vw;
  text-align: center;

}

.payment-p{
  color: rgb(139, 139, 34) !important;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3vw;
  text-align: center;
  
}

@media screen and (min-width: 800px){
  .payment-med{
    width: 50vw !important;

  }
}
@media screen and (min-width: 800px){
  .payment-pmed{
    font-size: 1vw !important;
  }
}


@media screen and (min-width: 800px){
  .payment-hdmed{
    font-size: 2vw !important;
  }
}

.gift-header{
  text-align: center !important;
  color: rgb(180, 180, 113) !important;
  margin-top: 10vh !important;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 5vw !important;
  margin-bottom: 4vh;
}

@media screen and (min-width: 800px){
  .header-gift{
    font-size: 2.2vw !important;
  }
}

.gift-img{
  width: 80vw;
  justify-self: center;
  height: 15vh;
}

@media screen and (min-width: 800px){
  .gi-img{
    width: 50vw !important;
    display: block;
    margin: auto;
    height: 35vh;
  }
}

.music-sec{
  width: 80vw;
  margin: 0 auto;
   display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.music-inpt{
  width: 65vw;
  margin: 0 auto;
  border:0.2vw solid rgb(180, 180, 113) ;
  border-radius: 2vw;
  height: 4vh;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgb(180, 180, 113) ;
}

.music-inpt:focus {
  outline: none;
  background-color: antiquewhite;
  border-color:rgb(105, 105, 22) ;
  
}

.music-btn {
  width: 15vw;
  margin: 0 auto;
  background-color:rgb(180, 180, 113) !important;
  color: white !important;
}

@media screen and (min-width: 800px){
  .input-med{
    width: 45vw !important;
    border:0.1vw solid rgb(180, 180, 113) !important;
    border-radius: 0.5vw !important;
    font-size: 1vw !important;
  }
}

@media screen and (min-width: 800px){
  .btn-med{
    width: 5vw !important;
  }
}

.music-btn:hover {
  background-color:rgb(105, 105, 22) !important;
}

::placeholder{
  color: rgb(180, 180, 113) ;
  font-size: 4vw;
}

.music-p{
  color: rgb(180, 180, 113);
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 5vw;
}
@media screen and (min-width: 800px){
::placeholder{
  
  font-size: 1.2vw !important;
  }
}

.footer{
   border-top: 0.3vh solid rgb(139, 139, 34) !important;
   font-family: "Zen Kurenaido", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 4vw !important;
  color: rgb(180, 180, 113);
  margin-top: 10vh;
  text-align: center;
  height: 8vh;
  padding-top: 2vh;
  position: relative;
  isolation: isolate;
}

@media screen and (min-width: 800px){
.footer{
  font-size: 1.5vw !important;

  }
}

.footer::after{
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: .2;
  background-image: url(oliveleafs.png);
  background-position: center;
  background-size:100vw 30vh;
  background-repeat: no-repeat;
}

.song-b{
  font-weight: 600;
}